html, body, #map {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #1e374d;
}

.custom-marker {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.leaflet-popup-content-wrapper {
  background: #1e374d;
  color: #94fdf8;
  border-radius: 8px;
  border: 1px solid #94fdf8;
}

.leaflet-popup-tip {
  background: #1e374d;
}
