/* Basic reset and full height for the map */
html, body {
  height: 100%;
  margin: 0;
  background: #1e374d;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b3d47;
  border-radius: 0;
  box-shadow: none;
}

/* Custom Marker Styling */
.custom-marker {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Popup styling */
.leaflet-popup-content-wrapper {
  background: #1e374d;
  color: #94fdf8;
  border-radius: 5px;
  padding: 10px;
}

.leaflet-popup-tip {
  background: #1e374d;
}

/* Control styling for search and geocoder */
.leaflet-control-geocoder input,
.leaflet-search-input {
  background: #1e374d;
  color: #94fdf8;
  border: 1px solid #94fdf8;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.leaflet-search-button {
  background: #94fdf8;
  color: #1e374d;
  border: 1px solid #94fdf8;
  border-radius: 5px;
  padding: 5px 10px;
}

.leaflet-search-button:hover {
  background: #1e374d;
  color: #94fdf8;
  border: 1px solid #1e374d;
}

.leaflet-search-list {
  background: #1e374d;
  color: #94fdf8;
  max-height: 250px;
  overflow-y: auto;
}

/* Style for Layer Control (switch maps) */
.leaflet-control-layers {
  background: rgba(30, 55, 77, 0.8);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #94fdf8;
}

.leaflet-control-layers label {
  color: #94fdf8;
}

/* Locate control styling */
.leaflet-control-locate {
  background: #94fdf8;
  color: #1e374d;
  border-radius: 50%;
}

.leaflet-control-locate:hover {
  background: #1e374d;
  color: #94fdf8;
}

/* Notification box styling */
.notification-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: none;
}